/**#botones**/
.boton-agregar-carrito {
    border: 1px solid #886138;
    font-family: $fuente-secundaria;
    font-weight: bold;
    padding: 1rem;
    background-color: #886138;
    color: $base;
    border-radius: 1rem;
}