@mixin flex ($direction,$wrap,$justify,$align){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid ($col, $row, $justify, $align, $area){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-content: $justify;
    align-items: $align;
    grid-template-areas: $area;
}

@mixin font-h1-375{
    font-size:2rem;
    font-weight: bolder;
    text-transform: uppercase;
}
@mixin font-h2-375{
    font-size:1.6rem;
    font-weight: bolder;
    text-transform: uppercase;
}
@mixin font-h3-375{
    font-size:1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
}
