/**Variables**/
    $base:#FFF2CC;
    $gris-marron:#8D7B68;
    $marron: #886138;
    $beige:#C8B6A6;
    $granate:#6F1717;
    $gris:#D9D9D9;
    $negro:#000000;
    $blanco:#ffffff;
    $fuente-principal:'Playfair Display', serif;
    $fuente-secundaria:'Poppins', sans-serif;
    $fuente-terciaria: 'Lilita One', cursive;
    