/**^MAINCONTACTO**/
main.contacto{
    section{
        @include flex(column,nowrap,center,center);
        margin-bottom:4rem;
        div {
            @include flex(column,nowrap,center,center);
            width:95%;
            gap:2rem;
            div{
                text-align:center;
                p{
                    font-weight: bold;
                    span{
                        color:$granate;
                    }
                }
            }
            div.iframe{
                iframe{
                    width:100%;
                }
            
            }
        }

    }
}