/**^MAIN-INDEX**/
main {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }


/**^contenedores-variedades**/
main {
    section {
        div.contenedor-variedades {
            @include flex(column, nowrap, center, center);
            gap: 4rem;

            div.variedades {
                @include flex(column, nowrap, center, center);
                width: 95%;
                gap: 2rem;

                div {
                    @include flex(column, nowrap, center, center);
                    gap: 1rem;
                    width: 100%;
                }
            }
        }
    }
}

main {
    section {
        div {
            a {
                @include flex(column, nowrap, center, center);

                img {
                    border-radius: 10%;
                    width: 100%;
                }
            }
        }
    }
}

main {
    section {
        div {
            div.variedades {
                div {
                    p.nombre {
                        text-align: center;
                        font-family: $fuente-secundaria;
                        font-size: 1.8rem;
                        color: $marron;
                        text-transform: uppercase;
                        font-weight: bolder;
                        text-shadow: 0px 1px, 1px 0px, 1px 1px;
                    }
                    p.info {
                        text-align: center;
                        font-family: $fuente-secundaria;
                        font-size: 1.6rem;
                        color: $marron;
                        line-height: 2rem;
                    }
                    p.precio {
                        text-align: center;
                        font-weight: bolder;
                        text-shadow: 0px 1px, 1px 0px, 1px 1px;
                        font-family: $fuente-secundaria;
                        font-size: 1.6rem;
                        color: $marron;
                }
            }
        }

    }
    }
}
