/**^MAIN-NOSOTROS**/
main.nosotros {
    section {
        @include flex(column,nowrap,center,center);
        gap:4rem;
        margin: 3rem 0;
        div.origenes{
            @include flex(column,nowrap,center,center);
            width:95%;
            h2{
                text-transform: uppercase;
                margin:3rem 0;
                font-family: $fuente-secundaria;
            }
            div{
                p{
                    text-align: justify;
                    margin:2rem 0;
                    line-height: 3rem;
                }
            }
        }
        div.filosofia{
            @include flex(column,nowrap,center,center);
            width:95%;
            h2{
                text-transform: uppercase;
                margin:3rem 0;
                font-family: $fuente-secundaria;
            }
            div{
                p{
                    text-align: justify;
                    margin:2rem 0;
                    line-height: 3rem;
                }
            }
        }
    }
}
