/**Globales**/
html {
    font-size: 62.5%;
    body{
        background-color: $beige;
        font-size: 1.6rem;
        font-family: $fuente-principal;
    }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.2rem;
}

img {
    width:100%
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
ul {
    padding:0;
}