/**^MEDIA-QUERIE-2560**/
main.contacto {
    @media (min-width:2560px) {
        section {
            margin-bottom: 5rem;

            div.contacto-wrapper {
                div.contacto-form {
                    width: 100%;

                    form {
                        width: 100%;

                        fieldset {

                            div.contenedor-inputs {
                                @include grid(repeat(3, 1fr), repeat(2, 1fr), space-around, center, center, none);
                                div.input.nombre{
                                    padding-left:5rem;
                                }
                                div.input.celular{
                                    padding-right:5rem;
                                }

                                div.input.mensaje {
                                    grid-column:1 / 4;
                                    width: 100%;
                                    margin-bottom: 2rem;
                                    text-align: center;

                                }
                            }



                        }
                    }
                }
            }


        }
    }
}