/**^MEDIA-QUERIE-768**/
header {
    @media (min-width:768px) {
        background-color: $base;

        nav {
            div {
                a {
                    img {
                        border-radius: 50%;
                    }

                    h1 {
                        display: hidden;
                    }
                }

                div {
                    ul {
                        li {
                            text-transform: uppercase;
                            text-align: center;
                            font-weight: bolder;
                            color: $marron;
                        }
                    }
                }
            }
        }
    }
}

main {
    @media (min-width:768px) {
        section {
            margin-bottom:5rem;

            div.contenedor-variedades {
                @include grid(repeat(2, 1fr), repeat(2, 1fr), center, center, center, none);

                div.variedades {
                    @include flex(column, nowrap, center, center);
                    width: 95%;
                    gap: 2rem;

                    div {
                        @include flex(column, nowrap, center, center);
                        gap: 1rem;
                        width: 100%;
                    }


                }

                div.variedades.colombia {
                    grid-column: 1 / 3;
                }
            }
        }
    }

}
main.recetas{
    @media (min-width:768px) {
        section{
            div{
                div{
                    img{
                        width:55%;
                        height: auto;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $gris;
    width: 100%;

    section {
        @media(min-width:768px) {
            @include grid (repeat(2, 1fr), repeat(2, 1fr), center, center, center, none);

            div {
                h2 {
                    font-family: $fuente-terciaria;
                    font-weight: bold;
                    color: $granate;
                    text-align: left;
                }

                p {
                    font-family: $fuente-principal;
                    font-weight: 700;
                    text-align: left;
                    line-height: 2rem;
                }
            }

            div.span {

                h2 {
                    text-align: right;
                    color: $negro;

                    span {
                        color: $granate;
                    }
                }
            }

            div.iconos-redes {
                grid-column: 1 / 3;
                grid-row: 2 / 3;

                a.instagram {
                    margin-right: 1rem;
                }

                a.facebook {
                    margin-left: 1rem;
                }

            }
        }
    }
}