/**^MEDIA-QUERIE-1440**/
main{
    @media (min-width:1441px){
        section {
            width:75%;
            margin:auto!important;
            margin-bottom:5rem;
        }
    }
    
}
main.recetas {
    @media (min-width:1440px) {
        section {
            div.recetas-grid {
                @include grid(repeat(2, 1fr), (2, 1fr), center, center, center, none);
                width: 90%;

                div.flat-white-img {
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;

                    img {
                        width: 85%;
                        height: auto;
                    }
                }

                div.flat-white-descripcion {
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                    ul {
                        text-align: justify;

                        li {
                            list-style-type: disc;

                            span {
                                font-size: 1.8rem;
                                font-weight: 600;
                            }

                            p {
                                text-align: justify;
                                line-height: 3rem;
                            }
                        }
                    }

                }


            }
        }
    }
}
/**#Footer**/
footer {
    section {
        @media(min-width:1440px) {
            width:75%;
                    }
                }
            }
