/**^MEDIA-QUERIE-1440**/
main{
    @media (min-width:1441px){
        section {
            width:75%;
            margin:auto!important;
            margin-bottom:5rem;
        }
    }
    
}
/**#Footer**/
footer {
    section {
        @media(min-width:1440px) {
            width:75%;
                    }
                }
            }
